<section ng-controller="HomeController">
 <div class="jumbotron text-center" ng-show="{{authentication.user.college_name}}">
 
 <table class="table">
   <tr> 
     <td><b>User Name </b></td>
     <td>{{authentication.user.displayName |uppercase}}</td>
   </tr>
    <tr> 
     <td> <b>College</b></td>
     <td>{{authentication.user.college_name | uppercase}}</td>
   </tr>
    <tr> 
     <td> <b>Degree</b></td>
     <td>{{authentication.user.degree.toString() |uppercase}}</td>
   </tr>
 </table>
 </div>
 <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" style="width:100%"/>
      </div>
    </div>
</div>

</section>
